<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="SqlServerConnString" connectionString="Server=127.0.0.1;Database=RdfDb;User ID=sa;Password=sh.123456;"/>
      <add name="OracleConnString" connectionString="Data Source=192.168.2.100;User ID=Boer;Password=Boer1608;"/>
    </connectionStrings>
</configuration>